* {
  box-sizing: border-box;
}

body{
	background: #e6ecf0;
}
div {
	background: white;
	font-family: Georgia;
	display: block;
	padding: 5px;
}

.stream-container {
	background: #e6ecf0;
}
.tweet {
	background: white;
	margin: 2px;
}
.tweet:hover {
	background: #f5f8fa;

}