* {
  box-sizing: border-box;
}

body{
	background: #e6ecf0;
}
div {
	background: white;
	font-family: Georgia;
	display: block;
	padding: 5px;
}

.stream-container {
	background: #e6ecf0;
}
.tweet {
	width: 500px;
	background: white;
	margin: auto;
	border-bottom: 2px solid grey;

}
.tweet:hover {
	background: #f5f8fa;

}

#user {
	font-weight: bold;
}

#user:hover{
	color:#3eabf3;
	text-decoration: underline;
}
